@font-face {
	font-family: 'Biko';
	src: url('../fonts/Biko.eot');
	src: local('☺'), url('../fonts/Biko.woff') format('woff'), url('../fonts/Biko.ttf') format('truetype'), url('../fonts/Biko.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Biko-Bold';
  src: url('../fonts/Biko-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Biko-Bold.otf')  format('opentype'),
	     url('../fonts/Biko-Bold.woff') format('woff'), url('../fonts/Biko-Bold.ttf')  format('truetype'), url('../fonts/Biko-Bold.svg#Biko-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

