@font-face {
    font-family: 'umbrellapp';
    src: url('./../fonts/umbrellapp.eot');
    src: url('./../fonts/umbrellapp.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/umbrellapp.woff') format('woff'),
         url('./../fonts/umbrellapp.ttf') format('truetype'),
         url('./../fonts/umbrellapp.svg#umbrellapp') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'umbrellapp';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-cloudy:before{content:'\0041';}
.icon-facebook:before{content:'\0042';}
.icon-google_plus:before{content:'\0043';}
.icon-holy:before{content:'\0044';}
.icon-location:before{content:'\0045';}
.icon-logo:before{content:'\0046';}
.icon-partialy_clouded:before{content:'\0047';}
.icon-rainy:before{content:'\0048';}
.icon-search:before{content:'\0049';}
.icon-snow:before{content:'\004a';}
.icon-sunny:before{content:'\004b';}
.icon-twitter:before{content:'\004c';}
.icon-heart:before{content:'\004d';}